/*
    Emily Meuer
    02/23/2018

    Style sheet for Productivity web page
 
    Technique for centering header-bar text vertically taken from https://stackoverflow.com/questions/13994549/trouble-vertically-centering-text-in-another-div-with-relative-sizing/16195362#16195362 .
 
    Initial W3 Schools color: #ff6666
*/

body {
    /*background-color: #ffeeff;*/
}

a:link, a:visited {
    background-color: #aa00aa;
    color: white;
    padding: .1rem 1.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #ff66ff;
}

img {
    margin: 2%;
}

input button:active {
    background-color: #aa00aa;
}

table {
    border-collapse: collapse;
}

.header-bar {
    background-color: #ffeeff;
    font-size:      2rem;
    font-weight:    bold;
    height:         3.8rem;
    line-height:    3.5rem;
    padding:        .5rem;
    width:          100%;
}

.header-bar a {
    font-size: 1rem;
    font-weight: normal;
}

.header-buttons {
    float:   right;
    margin-left: .5rem;
    margin-right: .5rem;
}

.clear-left {
    clear:      left;
}

.clear-right {
    clear:      right;
}

th {
    border: 5px double #aa00aa;
}

td {
    border: 2px solid #ffeeff;
}

.italic {
    font-style: italic;
}

#cat-header, #color-header {
    width: 20%;
}

.close {
    position:       relative;
 /*   margin-left:    90%;*/
    width:          2rem;
    color:          #aaa;
    float:          right;
    text-align:     right;
    font-size:      2rem;
    font-weight:    bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#container {
    height:     55%;
    padding:    1rem;
}

#flex-container {
    display:            flex;
    height:             50%;
    justify-content:    center;
    align-items:        center;
}

#edit-categories {
    position:               absolute;
    background-color:       #ff99cc;
    width:                  20em;
}

#gray-background {
    display:    none;
    position:   fixed;
    top:        0;
    left:       0;
    z-index:    1;
    width:      100%;
    height:     100%;
    overflow:   auto;   /*  will scroll if needed */
    background-color: #000000; /* In case rgba isn't supported */
    background-color: rgba(0, 0, 0, .4);
}

#photo-container {
    height:     100%;
    padding:    1rem;
}

#photo-flex-container {
    top:             100vh;
    display:            flex;
    height:             100%;
    justify-content:    center;
    align-items:        center;
    
    animation-name: animatebottom;
    animation-duration: 2s
}

#large-image {
    /*
    position:               absolute;
    background-color:       #ff99cc;
    width:                  20em;
    */
     margin-left: 25%;
     margin-right: 25%;
     width: 50%;
     

}

@keyframes animatebottom {
    0%   {height: 0%}
    100% {height: 100%}
}

#black-background {
    display:    none;
    position:   fixed;
    top:        0;
    left:       0;
    z-index:    1;
    width:      100%;
    height:     100%;
    overflow:   auto;   /*  will scroll if needed */
    background-color: #000000; /* In case rgba isn't supported */
    background-color: rgba(0, 0, 0, .4);
}

#photos {
    width: 100%;
}

#tasks {
    border: 5px double #aa00aa;
}
